/*--Add Font Verve--*/
@font-face {
    font-family: "wedding";
    src: url(../css/fonts/Verve.ttf);
}

/*--CSS Reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*--Start Main Styling --*/

body{
    background-image:url(../img/background.jpg);
    max-width:100%;
    color:#333333;
    font-family: fino-sans,sans-serif;
    font-weight: 400;
    font-style: normal; 

}
section{
    background:#003333;
    width:80%;
    max-width:900px;
    margin:auto;
}
/*--
section {
    margin-top: 2rem;
    margin-bottom:2rem;
}
header{    
    background:#003333;
    width:80%;
    max-width:900px;
    margin:auto;
}
header{
    margin-bottom:10rem;
}
--*/
p {
    font-size: 1.25rem;
    color: #cc9933;
    padding: 1rem;
    line-height: 1.5;
    text-align: center;
}

h1,h2,h3,h4 {
    color:#cc9933;  
}

h1{
    font-family: wedding;
    font-size: 6.854rem;
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
}

h2{
    font-size: 4.236rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

h3{
    font-size:2.618rem;
    text-align: center;
    padding: 1rem;
}

h4{
    font-size: 1.618rem;
    text-align: center;
    padding: 1rem;
}


/*--Styling Links--*/

a{
    color: #976a00;
    text-decoration: none;
}

a:hover{
    color:#ffc963;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px dotted;

}

span{
    text-align:center;
}

/*-- Navigation--*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color:#003333;
    opacity: 85%;
    padding: 1.5rem 0;
    font-size: 1rem;
}

nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav ul li {
    display: inline;
    margin: 20px;
    background: none;


}

nav a {
    color: #cc9933;
}

nav a:hover {
    border-bottom: none;
    color:#ffc963;
    transition: all 0.3s ease-in-out;
}

/*--Styling Classes and Ids--*/
.poem{
    font-size: 1.25rem;
    text-align: center;
    line-height:1.5;
}

.bride
{
    font-size: 2.618rem;
    padding:0.5rem;
}
.groom{
    font-size: 1.618rem
}

#td
{
    padding-top:0.5rem;
    padding-bottom:2rem;
}
#top{
    margin-top: 7rem;
   
}



/*--Image Styling--*/
img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 2rem;
   width: 95%;
}

/*--Styling The Table--*/
table{
    border:none;
    width:60%;
    margin:auto;
}
th{
    color:#cc9933;
    text-align: center;
    font-size:1.618rem;
    padding-top: 1.618rem;
    padding-bottom: 1rem;
}
td
{
    color:#cc9933;
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 0.5rem 
   

}

/*--Styling the Lists--*/
ul{
    color:#cc9933;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    padding: 1rem;
}
li{
    padding:1rem;
    list-style: none;
}

/*--Styling the Footer--*/
footer { 
    background:#003333; 
    text-align: center; 
    font-size: 0.75rem; 
    color: #cc9933; 
    padding: 4em 0 3em 0; 
    } 
    
    footer p { 
    margin: auto;
    max-width:80%;
    text-align: center; 
    } 
    
    .connections{ 
    position: relative; 
    margin: 0 auto; 
    } 
    .connections ul{ 
    margin: 0; 
    padding: 0; 
    } 
    .connections li{ 
    margin: 0 10px; 
    padding: 0; 
    list-style: none; 
    display: inline-block; 
    } 
    .connections a:link{ 
    border-bottom: none; 
    } 
    .connections img, 
    .connections svg{ 
    border: none; 
    } 
    .connections a:hover img, 
    .connections a:hover svg{ 
    border-bottom: none;} 
    .connections svg { 
    margin: 1em auto;} 
    .connections a:hover svg path { 
    fill: #cc9933; 
    transition: all 0.3s ease-in-out;} 
    footer .connections a:hover svg path { 
    fill: #cc9933; 
    transition: all 0.3s ease-in-out;} 



    /*--Styling for Tablet Screens--*/
    @media only screen and (max-width:768px){
        body{
            max-width: 100%;
          font-size: 1rem;
        }
        section,header,p{
          width:80%;
          max-width:600px;
          margin:auto;
          line-height:1.5em;
      }
    section,header{
        margin-top: 2rem;
        margin-bottom: 2rem;
    
    }
    nav{
        position: top;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        background-color:#003333;
        opacity: 85%;
        padding: 1.5rem 0;
        font-size: 0.85rem;
    }
    
    h1{
        font-size: 4.236rem;
    }
      h2{
        font-size: 2.618rem;
      }
      h3{
        font-size: 1.618rem;
      }
      h4{
        font-size: 1.25rem;
      }
      /*--Styling Classes and Ids--*/
.poem{
    font-size: 1.25rem;
    text-align: center;
    line-height:1.5;
}

.bride
{
    font-size: 2.618rem;
    padding:0.5rem;
}
.groom{
    font-size: 1.618rem
}

#td
{
    padding-top:0.5rem;
    padding-bottom:2rem;
}
#top{
    margin-top: 4rem;
    padding: 2rem, 0rem, 1rem, 0rem;
}
#header{
    margin-top: 2rem;

}


      
    }



    /*--Styling For Phone Screens--*/
    @media only screen and (max-width:480px){
      body{
        max-width: 100%;
        font-size: 1rem;
      }
      section,header,p{
        width:80%;
        max-width: 400px;
        margin:auto;
        line-height:1.5em;
    }
header,section{
      margin-top: 2rem;
      margin-bottom: 2rem;
    
    }
    nav{
        position: top;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        background-color:#003333;
        opacity: 85%;
        padding: 1.5rem 0;
        font-size: 0.85rem;
    }
    
    h1{
        font-size: 4.236rem;
    }

    h2{
        font-size: 2.618rem;

    }
    h3{
        font-size:1.618rem;
    }
    h4{
        font-size: 1.25rem;
    }
    /*--Styling Classes and Ids--*/
.poem{
    font-size: 1.25rem;
    text-align: center;
    line-height:1.5;
}

.bride
{
    font-size: 2.618rem;
    padding:0.5rem;
}
.groom{
    font-size: 1.618rem
}

#td
{
    padding-top:0.5rem;
    padding-bottom:2rem;
}
#top{
    margin-top: 4rem;
    padding: 2rem, 0rem, 1rem, 0rem;
}
#header{
    margin-top: 2rem;

}



    }