/*--Add Font Verve--*/
@font-face {
    font-family: "wedding";
    src: url(../css/fonts/Verve.ttf);
}

/*--CSS Reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*--Start Main Styling --*/

body{
    background-image:url(../img/background.jpg);
    max-width:100%;
    color:#333333;
    font-family: Fino Sans, Serif;

}
section,header{
    background:#003333;
    width:80%;
    max-width:900px;
    margin:auto;
}
section,header {
    margin-top: 2rem;
    margin-bottom:2rem;
}

p {
    font-size: 1.25rem;
    color: #cc9933;
    padding: 1rem;
    line-height: 1.5;
    text-align: left;
}

h1,h2,h3,h4 {
    color:#cc9933;  
}

h1{
    font-family: wedding;
    font-size: 6.854rem;
    padding: 6rem 0rem 1rem 0rem;
    text-align: center;
}

h2{
    font-size: 4.236rem;
    padding: 2rem;
    text-align: center;
}

h3{
    font-size:2.618rem;
    text-align: center;
    padding: 1rem;
}

h4{
    font-size: 1.618rem;
    text-align: center;
    padding: 1rem;
}


/*--Styling Links--*/

a{
    color: #976a00;
    text-decoration: none;
}

a:hover{
    color:#ffc963;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px dotted;

}

/*-- Navigation--*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color:#003333;
    opacity: 85%;
    padding: 1.5rem 0;
    font-size: 1rem;
}

nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav ul li {
    display: inline;
    margin: 20px;
    background: none;


}

nav a {
    color: #cc9933;
}

nav a:hover {
    border-bottom: none;
    color:#ffc963;
    transition: all 0.3s ease-in-out;
}

/*--Style the CSS Grid--*/
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    max-width: 900px;
   justify-content: space-evenly;
   padding: 1rem;

}


/*--Image Styling--*/
.img1{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 95%;
}


/*--Styling the Footer--*/
footer { 
    background:#003333; 
    text-align: center; 
    font-size: 0.75rem; 
    color: #cc9933; 
    padding: 4em 0 3em 0; 
    } 
    
    footer p { 
    margin: auto;
    max-width:80%;
    text-align: center; 
    } 
    
    .connections{ 
    position: relative; 
    margin: 0 auto; 
    } 
    .connections ul{ 
    margin: 0; 
    padding: 0; 
    } 
    .connections li{ 
    margin: 0 10px; 
    padding: 0; 
    list-style: none; 
    display: inline-block; 
    } 
    .connections a:link{ 
    border-bottom: none; 
    } 
    .connections img, 
    .connections svg{ 
    border: none; 
    } 
    .connections a:hover img, 
    .connections a:hover svg{ 
    border-bottom: none;} 
    .connections svg { 
    margin: 1em auto;} 
    .connections a:hover svg path { 
    fill: #003333; 
    transition: all 0.3s ease-in-out;} 
    footer .connections a:hover svg path { 
    fill: #003333; 
    transition: all 0.3s ease-in-out;} 
    @media (max-width:900px){
        body{
          font-size: 1em;
        }
        section,header,p{
          width:80%;
          max-width:600px;
          margin:auto;
          line-height:1.5em;
      }
      header,section{
        margin-top: 2rem;
        margin-bottom: 2rem;
    
    }
    h1{
        font-size: 4.236em;
    }
      h2{
        font-size: 2.618em;
      }
      h3{
        font-size: 1.618em;
      }
      h4{
        font-size: 1.25em;
      }
      
    }
    @media (max-width:480px){
      body{
        font-size: 0.85em;
      }
      section,header,p{
        width:80%;
        max-width: 400px;
        margin:auto;
        line-height:1.5em;
    }
    header,section{
      margin-top: 2rem;
      margin-bottom: 2rem;
    
    }
    h1{
        font-size: 3.6em;
    }
    h2{
        font-size: 2.3em;

    }
    h3{
        font-size:1.3em;
    }
    h4{
        font-size: 1em;
    }

    }